body {
    background-image: url("https://images.unsplash.com/photo-1522997946331-6e207fc6157c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87a3adb6bbbe38a65db455cf4d6b3baa&auto=format&fit=crop&w=985&q=80");
   
}



.navbar {
    background-color: white;
    height: 50px;
}

.navbar img {
    height: 45px;
}

label {
    font-family: 'Muli', sans-serif;
}

.box {
    width: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px; 
    padding: 10px;
}

#submit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Muli', sans-serif;
    color: black;
}

#submit:hover {
    background-color: black;
    color: white;
}

input:focus, textarea:focus {
    outline: none;
}